<p id="notice"><%= notice %></p>

<h1>Scheduled Job Queues</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Schedule type</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scheduled_job_queues.each do |scheduled_job_queue| %>
      <tr>
        <td><%= scheduled_job_queue.status %></td>
        <td><%= scheduled_job_queue.schedule_type %></td>
        <td><%= scheduled_job_queue.schedule_id %></td>
        <td><%= link_to 'Show', scheduled_job_queue %></td>
        <td><%= link_to 'Edit', edit_scheduled_job_queue_path(scheduled_job_queue) %></td>
        <td><%= link_to 'Destroy', scheduled_job_queue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduled Job Queue', new_scheduled_job_queue_path %>
