<%= form_with(model: scheduled_tweet, local: true) do |form| %>
    <%= form.hidden_field :repeating_event %>
    <%= form.hidden_field :status %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <% if scheduled_tweet.errors.any? %>
        <div id="error_explanation" class='alert alert-danger p-bottom-0'>
            <div>
                <%= pluralize(scheduled_tweet.errors.count, "error") %> prohibited this scheduled_tweet from being saved:
            </div>
            <ul>
                <% scheduled_tweet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <!-- main body-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tweet Info</h6>
        </div>

        <div class="card-body">
            <h4 class="font-weight-bold">Content</h4>
            <div class="mb-4">
                <%= form.text_area :content, 
                    :class=>"form-control",
                    "rows" => 5 %>
            </div>

            <h4 class="font-weight-bold">Date and Time</h4>
            <div class="mb-4">
                <%= form.date_select :scheduled_date %>
                 ~
                <%= form.time_select :scheduled_time %>
            </div>

            <!-- submit -->
            <%= form.submit :class => "btn btn-primary btn-block" %>
        </div>
    </div>
<% end %>
