<%= form_with(model: scheduled_tweet, local: true) do |form| %>
  <% if scheduled_tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scheduled_tweet.errors.count, "error") %> prohibited this scheduled_tweet from being saved:</h2>

      <ul>
      <% scheduled_tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :repeating_event %>
    <%= form.text_field :repeating_event %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <%= form.label :scheduled_date %>
    <%= form.date_select :scheduled_date %>
  </div>

  <div class="field">
    <%= form.label :scheduled_time %>
    <%= form.time_select :scheduled_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
